<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Matrix mit Knöpfen erweitern und löschen</title>
    <link rel="stylesheet" href="css/matrix.css">
    <!DOCTYPE html>
    <html>
    <head>
      <title>Matrix</title>
    </head>
    <body>

      <div>
        <input type="text" placeholder="Project Name" id="projectName">
        <input type="text" placeholder="Author Name" id="authorName">
      </div>

      <div class="table-container">
        <div>
          <button id="add-row">Add Row</button>
          <button id="add-col">Add Column</button>
          <button id="delete-row">Delete Row</button>
          <button id="delete-col">Delete Column</button>
        </div>
        <table id="matrix">
          <thead>
            <tr>
              <th>Track</th>
              <th>Instrument</th>
              <th>Note</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="checkbox" class="check"> 
                <input type="text" placeholder="Track 1" class="trackText">
              </td>
              <td>
                <select class="instrument">
                  <option value="piano">Piano</option>
                  <option value="guitar">Guitar</option>
                  <option value="drums">Drums</option>
                  <option value="bass">Bass</option>
                  <option value="saxophone">Saxophone</option>
                </select>
              </td>
              <td>
                <select class="note">
                  <option value="c">C</option>
                  <option value="d">D</option>
                  <option value="e">E</option>
                  <option value="f">F</option>
                  <option value="g">G</option>
                  <option value="a">A</option>
                  <option value="h">H</option>
                </select>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      <div>
        <button id="dwn-btn">Download your Project</button>
        <button id="upload">Upload your Project</button>
        <button id="save">Public Save</button>
      </div>
      <div>
        <button id="play-btn">Play</button>
        <button id="pause">Pause</button>
        <button id="stop">Stop</button>
      </div>
    <script src="js/matrix-expansion.js"></script>
    <script src="js/send.js"></script>
    <script src="js/download.js"></script>
  </body>
  </html>
  
  