<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
    <link rel="stylesheet" href="css/matrix.css">
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/matrix-interaction.js"></script>
    <script src="js/matrix-expansion.js"></script>
  </head>
  <body>
    <table>
        <tr>
          <td></td>
          <td th:each="col : ${cols}" th:text="${col}"></td>
        </tr>
        <tr th:each="row : ${rows}" th:id="${row}">
          <td th:text="${row}"></td>
          <td th:each="col : ${cols}" th:id="${row + '-' + col}"></td>
        </tr>
      </table>
      <div id="controls">
        <button id="add-row">Add Row</button>
        <button id="add-col">Add Column</button>
      </div>
  </body>
</html>
