<!-- audio.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <title>Audio</title>
</head>
<body>
  <audio controls="controls">
    <source src="../../sound/test.wav" type="audio/wav">
    Your browser does not support the audio element.
    </source>
  </audio>

  <audio controls>
    <source src="../../sound/test.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</body>
</html>
