<!DOCTYPE html>
<html>
  <head>
    <title>WAV Table Example</title>
  </head>
  <body>
    <table>
      <tr>
        <td class="cell" data-src="sound/test.wav"></td>
        <td class="cell" data-src="sound/test.wav"></td>
        <td class="cell" data-src="sound/test.wav"></td>
      </tr>
      <tr>
        <td class="cell" data-src="sound/test.wav"></td>
        <td class="cell" data-src="sound/test.wav"></td>
        <td class="cell" data-src="sound/test.wav"></td>
      </tr>
      <tr>
        <td class="cell" data-src="sound/test.wav"></td>
        <td class="cell" data-src="sound/test.wav"></td>
        <td class="cell" data-src="sound/test.wav"></td>
      </tr>
    </table>

    <script>
      // Get all the cells in the table
      const cells = document.querySelectorAll('.cell');

      // Add a click event listener to each cell
      cells.forEach(cell => {
        cell.addEventListener('click', () => {
          // Get the WAV file URL from the 'data-src' attribute of the cell
          const src = cell.dataset.src;

          // Create a new Audio object and play the WAV file
          const audio = new Audio(src);
          audio.play();
        });
      });
    </script>
  </body>
</html>
