* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: auto;
    overflow-y: auto;
    color: white;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
    background: linear-gradient(180deg, rgb(21, 56, 34) 0%, rgb(12, 119, 28) 89%);
}

header, footer {
    padding: 30px 100px !important;
    background: white;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    margin-right: 20px;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: black;
}
.logo {
    margin-right: 50px;
}
