table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

table td {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: center;
}

table th {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #ffffff;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #008CBA;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button.delete-col {
  background-color: #ffffff;
}
.selected {
  background-color: yellow;
}
