body {
  color: black;  
}

h2 {
  text-align: center;
}

.container {
  height: 100%;
  padding: 60px 100px;
}

.project {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  max-width: 710px;
  width: 100%;
  padding: 20px 32px;
  min-height: 100%;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0 auto;
  background: white;
}

.project-main {
  width: 100%;
  flex: 1 0 auto;
}

.project-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  flex: 0 0 auto;
}

.project-info, .table-container {
  margin-top: 20px;
}

.project-info input:nth-child(2) {
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

table td {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: center;
}

table th {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #ffffff;
}

#checkbox-td {
  display: flex;
  align-items: center;
}

#checkbox-td .check {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #008CBA;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  opacity: .9;
}

.green-button {
  background: rgb(12, 119, 28) 89%;

}

.red-button {
  background-color: rgb(186, 18, 18);
}

button.delete-col {
  background-color: #ffffff;
}
.selected {
  background-color: yellow;
}
