#matrix {
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
}

td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

#controls {
  text-align: center;
}

#controls button {
  margin: 5px;
}
